.idea
*.iml
*.bkp
*.dtmp
.DS_Store
.vscode
venv
.venv
.poetry
out
__pycache__/
*.py[cod]
*$py.class
output
resources/**
**.egg-info/
dist
**/secrets.env
build
.env
dial_conf/core/*.json
reports
.mypy_cache
.dial
.python-version
